
#page-title {
    color: white;
    text-align: center;
    background-color: #E3000B;
    margin: 0;
    padding: 15px;
}

h2,h3 {
    text-align: center;
    /* padding: auto; */
    /* width: auto; */
}
