/* Add a black background color to the top navigation */
.nav-top {
  background-color: grey;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav-top a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

/* Change the color of links on hover */
.nav-top a:hover {
  background-color: #E3000B;
  color: black;
}

.name, .basket, .favourites {
  height: 17px;
}
/* Add a color to the active/current link */
.nav-top a.active {
  background-color: yellow;
  color: black;
}

#login-div {
  text-align: right;
  margin: 0px auto 0px auto;
}

#greeting {
  margin-top: 2rem;
}

#main-board {
  display: flex;
  grid-template-columns: repeat(autofit, 15rem);
  flex-wrap: wrap;
  /* grid-gap: 1rem; */
}

h1 {
  color: white;
  text-align: center;
  background-color: #E3000B;
  margin: 0;
  padding: 15px;
}


.allBoxes-class {
  height: 19rem;
  width: 10rem;
  border: black solid 1px;
  background: yellow;
  position: relative;
  margin: 8px;
  /* margin-right: 5rem; */
  /* margin: 5rem 5rem 5rem 5rem; */
}

.picDiv-class {
  height: 180px;
  background: white;
  margin: 5px 5px 5px 5px;
  /* padding-top: 10px; */
  border: black solid 1px;
}

.picDiv-class > img {
  width: 99%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.descDiv-class {
  height: 100px;
  /* width: 15rem; */
  border: black solid 1px;
  background: lightblue;
  margin: 5px 5px 5px 5px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 0.8rem;
}

.add-favourites-btn-class {
  margin-left: 0.3rem;
}

/* Basket page */

.product {
  padding: 10px;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 10px;
  border: solid black 1px;
}

.basketTotalContainer {
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  /* border: solid red 2px; */
  /* border-radius: 10px; */
}

#pay-basket-btn[disabled] {
  background-color: grey;
  margin-left: 0.5rem;
}

#pay-basket-btn {
  background-color: green;
  color: white;
  margin-left: 0.5rem;
}

.product>img {
  height: 10vh;
  vertical-align: top; 
}

.desc-span, .fav-desc-span {
font-size: small;
/* float: left; */
position: absolute;
/* bottom: 0; */
/* right: 0; */
/* width: 300px; */
/* border: 3px solid #73AD21; */
}

.subtract-btn,
.qty-span,
.plus-btn,
.remove-btn,
.qty-x-price {
  vertical-align: bottom;
  margin-right: 0px;
}

.product>.subtract-btn,
.product>.plus-btn {
  border-radius: 10px;
}

.qty-span {
  font-weight: bold;
  margin: 0 0.25rem 0 0.25rem;
  /* background-color: grey; */
}

.qty-x-price {
  margin-left: 0.5rem;
}

.add-cart-btn {
  vertical-align: bottom;
  margin-right: 0px;
}

.remove-btn,
.remove-fav-btn {
  float: right;
  background-color: red;
  color: white;
}


/* Favourites Page */

.product>img {
  height: 10vh;
}